.cta {
	margin-top:200px;
	position: relative;
	cursor: pointer;
}

.cta .svg-graphic {
	transition: transform .07s ease-in-out;
	transform-origin: 0% 50%;
	fill: red;
}

.cta .chopTLBR clipPath rect {
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform-origin: 0% 100%;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;


}

.cta:hover .chopTLBR rect {
	transform: rotate(45deg);
}


/*.cta:hover .svg-graphic {
	transform: rotate(45deg);
}*/

.cta .cta__copy {
	color: #fff;
	position: absolute;
	text-transform: uppercase;
	top: 30%;
	left: 40%;
}

#menu {
  width: 400px;
  height: 600px;
  background: #000;
  display: none;
}

#menu.active{
  display: block;
}